/* input focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=checkbox]:focus{
  border: 1px solid #84CAFF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF !important;
  border-radius: 8px;
  background-color: white !important;
}

/* input field */
.input-field input[type=text], .input-field input[type=email], .input-field input[type=checkbox]{
  margin-top: 5px;
  color: #D0D5DD;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
}

/* label color */
.input-field label {
  color: #344054 !important;
}

/* label focus color */
.input-field :focus label {
  color: #344054 !important;
}

/* input focus color */
.input-field textarea:focus {
  border: 1px solid #84CAFF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF !important;
  border-radius: 8px;
  height: 132px !important;
}

/* input field */
.input-field textarea {
  margin-top: 5px;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  height: 132px !important;
}

/* invalid color */
.input-field textarea.invalid :focus {
  border: 1px solid #F89687;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FFD3CC;
}

.input-field textarea.invalid {
  border: 1px solid #F89687;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.input-field textarea.invalid :focus {
  border: 1px solid #F89687;
  box-shadow: 0px 0px 0px 4px #FFD3CC;
  box-shadow: 0px 1px 2px 0px #1018280D;
}

.btn {
  background-color: #1570EF;
  border: 1px solid #1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  text-transform: unset !important;
}

.btn:hover {
  background-color: #175CD3;
}

.btn:focus {
  background-color: #1570EF;
  box-shadow: 0px 0px 0px 4px #D1E9FF;
}

.btn:disabled {
  border: 1px solid #B2DDFF;
  background-color: #B2DDFF;
}

input[type="checkbox"]:checked+span:not(.lever):before{
  border-right:2px solid #1570EF;
  border-bottom:2px solid #1570EF;
  color: #D0D5DD;
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-left: 150px;
  padding-right: 150px;
}

main {
  flex: 1 0 auto;
}

/* form field background color */
input:-webkit-autofill,
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px white inset !important;
}
